<%- include('./partials/header') %>
<body>
    <%- include('./partials/navbar', { page: "customer" }) %>
    <div class="container">
        <div class="text-center mt-4">
            <h2>Customers List</h2>
        </div>
        <table class="table mt-4 table-hover table-striped text-center table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Email</th>
            </tr>
            </thead>
            <tbody>
            <% customers.forEach((customer, index) => { %>
            <tr>
                <th scope="row"><%= index + 1 %></th>
                <td><%= customer.name %></td>
                <td>
                    <a href="<%= helper.searchDirection(customer.address) %>" target="_blank"><%= customer.address %></a></td>
                <td><%= customer.phone_number %></td>
                <td><%= customer.email %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    function postYourAdd (str) {
    var iframe = $("#forPostyouradd");
    iframe.attr("src", str); 
}
</script>

<div class="embed-responsive embed-responsive-21by9">
    <iframe class="embed-responsive-item" id="forPostyouradd" data-src="https://getbootstrap.com/docs/4.0/components/list-group/" src="about:blank" width="500" height="200" style="background:#ffffff"></iframe>></iframe>
</div>

<%- include('./partials/scriptlogin') %>
</html>