<%- include('./partials/header') %>
<body>
    <%- include('./partials/navbar', { page: "package" }) %>
    <div class="container mt-4" style="width: 600px;">
        <form action="" method="POST" style="border: 1px solid black; padding: 25px;">
            <h3 class="text-center">Edit Package</h2>
            <div class="form-group">
                <label for="exampleInputEmail1">Type</label>
                <input type="text" class="form-control" name="type" value="<%= package.type %>" placeholder="Input type...">
                <small class="form-text" style="font-weight: bold;color: red;"><%= message[0] ? message[0].type : "" %></small>
            </div>
            <div class="form-group">
                <label for="example">Price</label>
                <input type="number" class="form-control" name="price" value="<%= package.price %>" placeholder="Input price...">
                <small class="form-text" style="font-weight: bold;color: red;"><%= message[0] ? message[0].price : "" %></small>
            </div>
            <div class="form-group">
                <label for="example">Duration</label>
                <input type="number" min="0" step=".01" class="form-control" value="<%= package.duration %>" name="duration" placeholder="Input duration...">
                <small class="form-text" style="font-weight: bold;color: red;"><%= message[0] ? message[0].duration : "" %></small>
            </div>
            <center><button type="submit" class="btn btn-primary">Submit</button></center>
        </form>
    </div>
</body>