<!DOCTYPE html>
<html lang="zxx">
<%- include('./partials/head') %>
<body>
<!-- header -->
	<div id="demo-1" data-zs-src='["images/4.jpg", "images/2.jpg", "images/1.jpg","images/3.jpg"]' data-zs-overlay="dots">
		<div class="demo-inner-content">
		<!--/header-w3l-->
		<div class="header-w3-agileits" id="home">
			<%- include('./partials/nav')%>
	<!--//header-w3l-->
	<!--/banner-info-->
			<%- include('./partials/slider')%>
	<!--/banner-info-->
		</div>
		   </div>
    </div>
  <!--/banner-section-->
<!-- about -->
	<div class="about-w3layouts">
		<div class="col-md-6 col-sm-6 gallery-gridsa">
		</div>
		<div class="col-md-6 col-sm-6 gallery-grids2 right-w3ls-gridsa">
			<h3>The best <span>C</span>leaning <span>s</span>ervice with <span>D</span>eterge</h3>
			<div class="banner-grids-agileits">
				<div class="grids-inner-wthree">
					<div class="grids-right-wthree">
						<i class="fa fa-tint i1" aria-hidden="true"></i>
					</div>
					<div class="grids-left-wthree">
						<p>We use products which are</p> <span>Eco Friendly</span>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="grids-inner-wthree">
					<div class="grids-right-wthree">
						<i class="fa fa-spinner i2" aria-hidden="true"></i>
					</div>
					<div class="grids-left-wthree">
						<p>Get clean your clothes with</p> <span>Best Equipments</span>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="grids-inner-wthree">
					<div class="grids-right-wthree">
						<i class="fa fa-check-square-o i3" aria-hidden="true"></i>
					</div>
					<div class="grids-left-wthree">
						<p>Be sure your dress gets</p> <span>Right Treatment</span>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>

	</div>
	<div class="clearfix"></div>
	<!-- //about -->
<!-- services -->
<div class="services-w3-agileits w3agileits-ref">
		<div class="col-md-6  services-info">
			<h6>Customer who Launder for Everyday Service <span>Get 20% Off </span></h6>
			<p class="para-w3-agile">The first day dry cleaning order!</p>
					 <div class="clearfix"></div>
		</div>
	<div class="col-md-6 services-left">
			<h3 class="sub-tittle-agileits">Our <span>B</span>est <span>S</span>ervices</h3>
			<div class="col-md-4 service-grids-w3ls">
				<i class="fa fa-shirtsinbulk i1" aria-hidden="true"></i>
				<div class="serv-rt-w3-agile">
					<h5>Dry Cleaning</h5>
					<p>Lorem ipsum dolor sit amet </p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-4 service-grids-w3ls">
				<i class="fa fa-shopping-basket i2" aria-hidden="true"></i>
				<div class="serv-rt-w3-agile">
					<h5>Pressing</h5>
					<p>Lorem ipsum dolor sit amet </p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-4 service-grids-w3ls">
				<i class="fa fa-magic i3" aria-hidden="true"></i>
				<div class="serv-rt-w3-agile">
					<h5>Laundry</h5>
					<p>Lorem ipsum dolor sit amet </p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-4 service-grids-w3ls">
				<i class="fa fa-paper-plane-o i4" aria-hidden="true"></i>
				<div class="serv-rt-w3-agile">
					<h5>Pickup & Delivery</h5>
					<p>Lorem ipsum dolor sit amet </p>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>
</div>
<!--//services-->
<!--footer -->
	<%- include('partials/footer')%>
<!--//footer-->	
<!-- copy-right -->
<%- include('partials/copyright')%>
<!-- //copy-right -->
<%- include('partials/modal') %>
	<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<%- include('partials/script')%>
</body>
</html>