<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/admin" style="color: black; font-weight: bolder;">Dip N' Dry</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= (page == 'transaction') ? 'active' : '' %>">
          <a class="nav-link" href="/admin/transaction/list">Transactions<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item <%= (page == 'customer') ? 'active' : '' %>">
          <a class="nav-link" href="/admin/customer/list">Customers<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item <%= (page == 'package') ? 'active' : '' %>">
          <a class="nav-link" href="/admin/package/list">Packages</a>
        </li>
        <li class="nav-item <%= (page == 'courier') ? 'active' : '' %>">
          <a class="nav-link" href="/admin/courier/list">Couriers</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <% if(!isLogin){ %>
          <button id="loginbutton" class="btn btn-outline-success mr-1 my-2 my-sm-0" type="button" data-toggle="modal" data-target="#Login">Login</button>
        <% } else { %>
          <a href="/admin/logout"><button class="btn btn-outline-success mr-1 my-2 my-sm-0" type="button">Logout</button></a>
        <% } %>
      </form>
    </div>
  </nav>
  <%- include('login') %>